.btn-outline {
  background: none;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 2px solid #91ddec;
  color: #147688;

  &.btn-lg {
    border-width: 3px;
  }

  &:hover {
    border-color: rgb(65, 184, 131);
    background-color: rgba(65, 184, 131, 0.67);
  }

  &:active,
  &:focus {
    border-color: rgb(65, 184, 131);
    background-color: rgba(65, 184, 131, 1);
  }
}

.down-arrow {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
  font-size: 1.6em;

  i {
    font-size: 0.7em;
    opacity: 0.4;
  }
}
